sudo: required
language: android
jdk: oraclejdk8

notifications:
  email:
    on_success: never
    on_failure: always

env:
  global:
  - ANDROID_API=27
  - ANDROID_EMULATOR_API=21
  - ANDROID_BUILD_TOOLS=27.0.3

before_install:
- openssl aes-256-cbc -K $encrypted_28bdaaf761f5_key -iv $encrypted_28bdaaf761f5_iv
  -in android.jks.enc -out android.jks -d
- export TZ=Europe/Berlin
- mkdir "$ANDROID_HOME/licenses" || true
- echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"
- yes | sdkmanager "platforms;android-27"

before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -rf $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.android/build-cache"

android:
  components:
  - tools
  - platform-tools
  - tools
  - build-tools-${ANDROID_BUILD_TOOLS}
  - android-${ANDROID_API}
  - extra
  - extra-android-m2repository
  licenses:
  - android-sdk-preview-license-52d11cd2
  - android-sdk-license-.+
  - google-gdk-license-.+

script:
- "./gradlew clean build --stacktrace"

deploy:
  provider: releases
  api_key:
    secure: Prn0fafaFzaYlf2BMGr9Gv4WVc/tjRLfBJAfQdhi+nNWuWLxUV+raavTghsH5wK4/9gejic37/s/a79OA/enoioZKeqV4azABM2Ap7gQZ3VtULNZtY3EZ4YxHSNLXXgeZsv36ft3n0nXKhoNJfGdwSgR1TtJOWyWpkTAXFlYR4aXd7j4INvDG7JWgJe3sID0BLNlpoQr3UGbExfuX7x5f8OhxASNcB7a2AGz3uk6jRX+/kMn2hxdDHJXyC3j9uisuxLAXHGLe5knPtQjEN7Ycg5PnYJrtjrTFp8gHj953FqL4+tjlTE4N9t6GDT4iBroGfiRo8ZP1nF/uIKPqrZwtDIgp/L1pbaRk43JON33TjpSvlHGMIfaj4TYIGseRVrHZ79pOlfIivB6oA9UzSRDY7Y0zT7X7fJ4xrSR4hNqBjfTxrlIr9fugH+VeFj4hUwUbkhOQRWTCzH+pqOKKQHT/HC5psV1aNXZzutUbB9DEeQHkrhl/0cjkReb5bWHo44/3DobjKYHKbM/B06CA5Hg9q9Xq1ERagNRryhOCANqXk4WFNu+yC+IHwvWGrsX0HTn6HpImcygc6ARhC013tar6ZSmVaplnXrcOD4Erx+TngbwoQZkuCEUV3zIyVPySSk1NRI0e+OClq7qyqYGTP9y75yGJtu/w7CCqKuOxKIQuJw=
  file_glob: true
  file: "app/build/outputs/apk/prod/release/*.apk"
  skip_cleanup: true
  overwrite: true
  on:
    repo: metzgore/BeansPlan
    tags: true
